*.egg-info/ 
dist/ 
.env 

# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]	
*.png          # ignore PNGs anywhere in the repo

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Project
figures/*.png
figures/*.pdf